@model UniversityBase.Models.Student
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Master_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/General/FirstJs.js" type="text/javascript"></script>
<link href="~/Content/CSS/Validation CSS.css" rel="stylesheet" type="text/css" />

<style>
    a {
        text-decoration: none;
    }
</style>

<p style="text-align:right;">@Ajax.ActionLink("Add  new student", "AddNewStudent", "Edit", new AjaxOptions { UpdateTargetId = "AddStudent" })</p>

<div id="AddStudent"></div>
<hr/>
<p>Find Student:</p>
@using (Ajax.BeginForm("StudentResult", "Home", new AjaxOptions { UpdateTargetId= "SearchedResult" }))
{
    <label>Name</label>
    <input type="text" name="FindName" id="FindName"  />
    <label>Surname</label>
    <input type="text" name="FindSurname" id="FindSurname" />
    <input type="submit" value="Find" />
    @Ajax.ActionLink("Advanced search options", "AdvanceSearch", "Home", new AjaxOptions { UpdateTargetId = "AdvanceSearch" })
    <br/>
    <br/>
    <div id="AdvanceSearch" >

    </div>
   
}

<div id="SearchedResult">

</div>
<hr/>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>AgeOfBirth</th>
        <th>Course</th>
        <th>Age</th>
        <th>Group</th>

    </tr>
    @foreach (var b in ViewBag.students)
    {
        <tr>
            <td>@b.Name</td>
            <td>@b.Surname</td>
            <td>@b.AgeOfBirth</td>
            <td>@b.Course</td>
            <td>@b.Age</td>
            <td>@b.GroupId</td>
            <td>
               @using (Html.BeginForm("EditStudent", "Edit", FormMethod.Post))
               {
                <input type="hidden" value="@b.Id" name="Id" id="Id">
                <input type="submit" value="Edit" />

               }
            </td>
            <td>
                @using (Html.BeginForm("DeleteStudent", "Edit", FormMethod.Post, new { onsubmit = "return WannaReally()" }))
                {
                    <input type="hidden" value="@b.Id" name="Id" id="Id">
                    <input type="submit" value="Delete" />
                }

            </td>
            

        </tr>
    }
</table>
