@model UniversityBase.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewStudent</title>
    <link href="~/Content/CSS/Validation CSS.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div> 
        @using (Html.BeginForm("AddNewStudent", "Edit", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div>
                <p>
                    @Html.LabelFor(model => model.Name)
                </p>
                <p>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model=>model.Name)
                </p>
            </div>

            <div>
                <p>
                    @Html.LabelFor(model => model.Surname)
                </p>
                <p>
                    @Html.EditorFor(model => model.Surname)
                    @Html.ValidationMessageFor(model=>model.Surname)
                </p>
            </div>

            <div>
                <p>
                    @Html.LabelFor(model => model.AgeOfBirth)
                </p>
                <p>
                    <input type="date" name="AgeOfBirth" />
                    @Html.ValidationMessageFor(model=>model.AgeOfBirth)

                </p>
            </div>

            <div>
                <p>
                    @Html.LabelFor(model => model.Age)
                </p>
                <p>
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model=>model.Age)
                </p>
            </div>

            <div>
                <p>
                    @Html.LabelFor(model => model.Course)
                </p>
                <p>
                    @Html.EditorFor(model => model.Course)
                    @Html.ValidationMessageFor(model=>model.Course)
                </p>

            </div>
            <div>
                <p>
                    Choouse a group
                </p>
                <p>
                    @Html.DropDownListFor(model => model.GroupId, ViewBag.Groups as SelectList)
                </p>
            </div>

            <input type="submit" value="Send" />

        }
    </div>
</body>
</html>
