@model UniversityBase.Models.Mark
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeOurMark</title>
    <link href="~/Content/CSS/Validation CSS.css" rel="stylesheet" type="text/css" />

</head>
<body>
    @using (Html.BeginForm("ChangeOurMark", "Edit", FormMethod.Post))
    {
        <div>
            <p>@Html.LabelFor(model => model.Math)</p>
            <p>@Html.EditorFor(model=>model.Math)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.History)</p>
            <p>@Html.EditorFor(model => model.History)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Psychology)</p>
            <p>@Html.EditorFor(model => model.Psychology)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Literature)</p>
            <p>@Html.EditorFor(model => model.Literature)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Cooking)</p>
            <p>@Html.EditorFor(model => model.Cooking)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Music)</p>
            <p>@Html.EditorFor(model => model.Music)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Law)</p>
            <p>@Html.EditorFor(model => model.Law)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.Programming)</p>
            <p>@Html.EditorFor(model => model.Programming)</p>
        </div>
        <div>
            <p>@Html.LabelFor(model => model.WebDesign)</p>
            <p>@Html.EditorFor(model => model.WebDesign)</p>
        </div>
        <input type="hidden"  name="Id" id="Id" value="@Html.ValueFor(model=>model.Id)" />
        <input type="submit" value="Отправить" />
    }
    <br/>
    <br />
    <br />
    <br />
  @Html.ActionLink("Back to Mark", "Mark","Home")
</body>
</html>
